<h1>{{application.generalNarrativeData.company}}</h1>
<hr>

<div class="mileStoneDiv">
    <div class="milestone addStone">
        <p class="title" ng-init="openAddStoneForm = false" ng-click="openAddStoneForm=!openAddStoneForm">Create a new MileStone <i class="fa fa-caret-down" ng-show="!openAddStoneForm"></i><i class="fa fa-caret-up" ng-show="openAddStoneForm"></i></p>
        <form ng-show="openAddStoneForm" ng-submit="newStoneSubmitted()">
            <hr/>
            <div>
                <label>Milestone type</label>
                <div class="addingContainer">
                    <div class="insideContainer">
                        <div ng-class="stoneTypeActivated(stone.display)? 'active' : '' " ng-click="chooseStoneType(stone)" class="addingChoice" ng-repeat="stone in stoneTypeTemplate">{{stone.display}}</div>
                    </div>
                </div>
            </div>
            <div ng-if="newStone.stonetype=='Interview arrangement'">
                <label>Where will/did the interview take place?</label>
                <div class="addingContainer">
                    <div class="insideContainer">
                        <div ng-class="stoneWhereActivated(stone.display)? 'active' : '' " ng-click="chooseStoneWhere(stone)" class="addingChoice" ng-repeat="stone in stoneWhereTemplate">{{stone.display}}</div>
                    </div>
                </div>
            </div>
            <fieldset class="form-group">
                <label>Milestone Title*</label>
                <input type="text" class="text-capitalize form-control" placeholder="" ng-model="newStone.title" required>
            </fieldset>
            <fieldset class="form-group">
                <label>Milestone Details*</label>
                <input type="text" class="form-control" placeholder="" ng-model="newStone.description">
            </fieldset>
            <fieldset class="form-group">
                <label>Milestone timestamp</label>
                <input type="datetime-local" class="form-control form-control-sm" placeholder="" ng-model="newStone.time">
            </fieldset>
            <hr/>
            <div>
                <label>Associate to any email?</label>
                <div class="emailContainer">
                    
                </div>
            </div>
            <button class="btn btn-primary">Create new Milestone</button>
        </form>
    </div>
</div>
<div class="mileStoneDiv" ng-repeat="stone in mileStones">
    <div class="milestone">
        <p class="title">{{stone.title}}</p>
        <p class="description">{{stone.description}}</p>
        <p class="time"><small>{{stone.time}}</small></p>
    </div>
</div>
<div class="mileStoneDiv hero">
    <div class="milestone success">
        <p class="stoneIcon"><i class="fa fa-paper-plane" aria-hidden="true"></i></p>
        <p class="stoneTitle">The first mail sent out!</p>
        <p class="stoneTime"><small>{{createTime(application.createAt)}}</small></p>
    </div>
</div>

<!-- <div class="mileStoneDiv hero start">
    <div class="milestone gold">
        <p class="stoneIcon"><i class="fa fa-star" aria-hidden="true"></i></p>
        <p class="stoneTitle">Application created</p>
        <p class="stoneTime"><small>{{createTime(application.createAt)}}</small></p>
    </div>
</div> -->
