<h1>{{application.company}}</h1>
<hr>
<div class="mileStoneDiv">
    <div class="milestone addStone">
        <p class="title" ng-init="openAddStoneForm = false" ng-click="openAddStoneForm=!openAddStoneForm">Create a new MileStone <i class="fa fa-caret-down" ng-show="!openAddStoneForm"></i><i class="fa fa-caret-up" ng-show="openAddStoneForm"></i></p>
        <form ng-show="openAddStoneForm" ng-submit="dbStoneSubmitted()">
            <hr/>
            <div>
                <label>Milestone type</label>
                <div class="addingContainer">
                    <div class="insideContainer">
                        <div ng-class="stoneTypeActivated(stone.state.title)? 'active' : '' " ng-click="chooseStoneType(stone)" class="addingChoice" ng-repeat="stone in stoneTypeTemplate" required>{{stone.state.title}}</div>
                    </div>
                </div>
            </div>
            <div ng-if="dbStone.state.title=='Interview arrangement'">
                <label>Where will/did the interview take place?</label>
                <div class="addingContainer">
                    <div class="insideContainer">
                        <div ng-class="stoneWhereActivated(stone.state)? 'active' : '' " ng-click="chooseStoneWhere(stone)" class="addingChoice" ng-repeat="stone in stoneWhereTemplate" required>{{stone.state}}</div>
                    </div>
                </div>
            </div>
            <fieldset class="form-group">
                <label>Milestone Title*</label>
                <input type="text" class="text-capitalize form-control" placeholder="" ng-model="dbStone.title" required>
            </fieldset>
            <fieldset class="form-group">
                <label>When will/did this take place?</label>
                <input type="datetime-local" class="form-control form-control-sm" placeholder="" ng-model="dbStone.time" required>
            </fieldset>
            <fieldset class="form-group">
                <label>Milestone Details*</label>
                <textarea class="form-control" rows="3" ng-model="dbStone.description"></textarea>
            </fieldset>
            <hr/>
            <div>
                <label>Associate to any email?</label>
                <select multiple ng-model="dbStone.emailrelated" class="form-control" style="min-height: 200px">
                    <option ng-repeat="email in emailsFronGmail">{{email.body.snippet}}</option>
                </select>
            </div>
            <hr/>

            <button type="submit" class="btn btn-primary">Create new Milestone</button>
        </form>
    </div>
</div>
<div class="mileStoneDiv" ng-repeat="stone in mileStones">
    <div class="milestone" ng-class=" '{{stone.newMilestone.state.className}}' ">
        <!-- <div class="milestone" ng-class="stone.newMilestone.className" ng-style="{'background': '#{{stone.newMilestone.state.color}}', 'color': '{{(stone.newMilestone.state.color!=='F6F6F6') ? 'white' : 'black' }}'}"> -->
        <div class="row">
            <div class="col-sm-2">
                <span class="icon-circle"></span>
            </div>
            <div class="col-sm-10">
                <p class="title">{{stone.newMilestone.title}}</p>
                <p class="description">{{stone.newMilestone.description}}</p>
                <p class="time"><small>{{stone.newMilestone.time}}</small></p>
                <!-- <p class="time">{{stone._id}}</p> -->
            </div>
        </div>

        <div class="setting fa fa-cog" ng-click="dbStoneUpdatedSetting(stone._id)"></div>
        <!-- <form> -->
        <form ng-show="isTheOne(stone._id) && openEditStoneTriggered" ng-submit="dbStoneUpdated(dbStoneUpdate, dbStoneUpdate._id)">
            <hr/>
            <fieldset class="form-group">
                <label>Milestone Title*</label>
                <input type="text" class="text-capitalize form-control" placeholder="" ng-model="dbStoneUpdate.title" required>
            </fieldset>
            <fieldset class="form-group">
                <label>When will/did this take place?</label>
                <input type="datetime-local" class="form-control form-control-sm" placeholder="" ng-model="dbStoneUpdate.time" required>
            </fieldset>
            <fieldset class="form-group">
                <label>Milestone Details*</label>
                <textarea class="form-control" rows="3" ng-model="dbStoneUpdate.description"></textarea>
            </fieldset>
            <hr/>
            <div>
                <label>Associate to any email?</label>
                <select multiple ng-model="dbStoneUpdate.emailrelated" class="form-control" style="min-height: 200px">
                    <option ng-repeat="email in emailsFronGmail">{{email.body.snippet}}</option>
                </select>
            </div>
            <hr/>
            <button type="submit" class="btn btn-secondary">Update Milestone</button>
            <button type="button" class="btn btn-danger" ng-click="deleteMilestoneClicked(application._id, dbStoneUpdate._id)">Delete Milestone</button>
            <br>
            <br>


        </form>
    </div>
</div>
<div class="mileStoneDiv hero start">
    <div class="milestone gold">
        <p class="stoneIcon"><i class="fa fa-rocket" aria-hidden="true"></i></p>
        <p class="stoneTitle">The first mail sent out!</p>
        <p class="stoneTime"><small>{{createTime(application.createAt)}}</small></p>
    </div>
</div>

<!-- <div class="mileStoneDiv hero start">
    <div class="milestone gold">
        <p class="stoneIcon"><i class="fa fa-star" aria-hidden="true"></i></p>
        <p class="stoneTitle">Application created</p>
        <p class="stoneTime"><small>{{createTime(application.createAt)}}</small></p>
    </div>
</div> -->
