<form ng-submit="newApplicationSubmitted()">
    <h3>Create an application</h3>
    <hr/>
    <fieldset class="form-group">
        <label for="Company">Company*</label>
        <input type="text" class="form-control" id="Company" placeholder="Apple, Facebook, Paypel..." ng-model="newApplication.company"required>
        <!-- <small class="text-muted">We'll never share your email with anyone else.</small> -->
    </fieldset>
    <fieldset class="form-group">
        <label for="jobTitle">Job Title*</label>
        <input type="text" class="form-control" id="jobTitle" placeholder="Job title that you applied to" ng-model="newApplication.jobTitle"required>
    </fieldset>
    <fieldset class="form-group">
        <label for="applicationDate">Application date* <small class="text-muted">when did you applied? <b>default</b> is today.</small></label>
        <input type="date" class="form-control form-control-sm" style="line-height: 1.5rem" id="applicationDate" placeholder="" ng-model="newApplication.applicationDate" value="{{ applicationDateDefault | date: 'yyyy-MM-dd' }}" required/>
    </fieldset>
    <hr/>
    <h5 ng-init="more=false" ng-click="more=!more"><i class="fa fa-caret-down" ng-show="!more"></i><i class="fa fa-caret-up" ng-show="more"></i> Extra infomation <small class="text-muted"> click to fill out more details</small></h5>
    <div ng-show="more">
        <fieldset class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleTextarea">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile">
            <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </fieldset>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled> Option three is disabled
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
