<ul>
    <li class="searchbar">
        <input type="text" class="form-control form-control-sm" placeholder="Search applications" ng-model="searchFilter">
    </li>
    <li ng-repeat="application in applications | filter:searchFilter" ui-sref-active="active" ui-sref="task({applicationId: application._id})">
        <div class="app-h1">{{application.company}} <span class="time">{{createTime(application.createAt)}}</span></div>
        <div class="app-h2">{{application.jobTitle}}</div>
    </li>
</ul>



<script src='/js/bundle.min.js'></script>
