<div class="summary">
    <h1>Summary</h1>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <div class="card text-xs-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <h2>{{applications.length}}</h2>
                        <footer>Active Job Applications</footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="card text-xs-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <h2>{{sevenDayForecast.length}}</h2>
                        <footer>Milestones</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <br>
    <div class="forecast">
        <h4><i class="fa fa-calendar" aria-hidden="true"></i> 7-Day Forecast of Scheduled Events, Tasks, and To-Do's</h4>

        <div style="margin-top: 50px; margin-bottom: 100px" ng-if="sevenDayForecast.length === 0" class="noCal">
            <h4>You have no events, to-do's, or tasks coming up in the next 7 days.</h4>
            <button ui-sref="addApplication" class="btn btn-primary btn-lg"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Create a new one</button>
        </div>

        <div class="mileStoneDiv" ng-repeat="event in sevenDayForecast" ng-if="sevenDayForecast" ng-click="takeToNarrative(event.parentNarrativeId)">
            <div class="milestone clickable">
                <p class="title">{{event.summary}}</p>
                <p class="description">{{event.description}}</p>
                <p class="time"><small>{{event.startDate}}</small></p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="graph_section">
        <h4><i class="fa fa-bar-chart" aria-hidden="true"></i> Graphs</h4>
        <nvd3 class="nvd3" options="options" data="data"></nvd3>
    </div>

</div>
