<div class="setting">
    <h1>Setting</h1>
    <img src="{{currentUser.picture}}" class="img-thumbnail" />
    <hr/>
    <form ng-submit="profileSettingUpdated()">
        <fieldset class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" ng-model="profileSetting.name" required disabled>
        </fieldset>
        <fieldset class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" ng-model="profileSetting.email" required disabled>
        </fieldset>
        <fieldset class="form-group">
            <label>Phone Number</label>
            <input type="tel" class="form-control" placeholder="Your phone number" ng-model="profileSetting.phone" required>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <!-- <pre>
        {{profileSetting | json}}
    </pre> -->
</div>
