@import "./myvariables";
body {
    padding-top: 100px;
    overflow: hidden;
    position:relative;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn {
    outline: none !important;
}
.btn:active {
    opacity: 0.9 !important;
}
// /* Track */
// // ::-webkit-scrollbar-track {
// //     background: none;
// // }
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 30px;
//     border-radius: 30px;
//     background: $brand-primary;
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//     opacity: 0;
// }
.fa {
    margin: 0px !important;
}
@media (max-width: 546px) {}
