@import "../myvariables";
.section.hide {
    transition: 0.2s all ease-in-out;
    left: -300px;
}
.section {
    width: 100%;
    position: absolute;
    top: 58px;
    left: -20px;
    transition: 0.3s all ease-in-out;
    z-index: 98;
    // width: 100%;
    .application_section {
        float: left;
        background: white;
        height: 93vh;
        max-width: 300px;
        // box-shadow: 1px 0 0 0 #ddd;
        border-bottom: 1px solid #ddd;
        overflow-x: hide;
        overflow-y: scroll;
        text-align: left;
        width: 30%;
        min-width: 250px;
        ul {
            list-style: none;
            padding-left: 20px;
            margin-bottom: 0 !important;
            border-right: 1px solid #ddd;
            height: 95vh;
        }
        li.searchbar {
            padding: 5px 10px;
        }
        li.searchbar input {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 10px;
            text-align: center;
            transition: 0.1s all ease-in-out;
            border-color: white;
        }
        li.searchbar:hover {
            transition: 0.1s all ease-in-out;
            background: white;
            cursor: default;
            text-align: left;
        }
        li.searchbar input:focus {
            transition: 0.1s all ease-in-out;
            // border-color: $brand-primary;
            border-color: white;
            text-align: left;
        }
        li {
            display: block;
            text-align: left;
            padding: 6px 10px 9px 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: -1px;
            user-select: none;
            -webkit-user-select: none;
            cursor: pointer;
            .app-h1 {
                font-weight: 600;
                font-size: 0.9em;
                span.time {
                    font-weight: 400;
                    padding-top: 4px;
                    color: rgba(0,0,0,0.4);
                    font-size: 0.7em;
                    display: inline-block;
                    float: right;
                }
            }
            .app-h2 {
                font-size: 0.8em;
                line-height: 1.1em;
                font-weight: 400;
                color: rgba(0,0,0,0.4);
            }
        }
        li:hover {
            background: rgba(0,0,0, 0.05);
        }
        li:active {
            background: rgba($brand-primary, 0.08);
        }
        li.active {
            background: rgba($brand-primary, 1);
            color: white !important;
            // box-shadow: 0 1px 0 0 $brand-primary;
            span.time {
                color: rgba(255,255,255,1);
            }
            .app-h1 {
                color: white;
            }
            .app-h2 {
                font-weight: 400;
                color: rgba(255,255,255,0.6);
            }
        }
    }
    .tasks_section {
        display: inline-block;
        float: left;
        background: white;
        height: 80vh;
        top: 56px;
        text-align: left;
        padding: 20px;
    }
}
@media (max-width: 600px) {
    .section.hide {
        left: -20px;
        .application_section {
            display: inline-block;
            width: 414px;
            // min-width:
        }
    }
    .section {
        left: 0;
        width: 100%;
        .application_section {
            display: none;
        }
    }
    // .application_section {
    //     z-index: 99;
    // }
    // .tasks_section {
    //     z-index: 97;
    // }
}
