@import "../myvariables";

.details_section {
    padding: 10px;
    h1 {
        font-weight: 900;
        font-size: 1em;
        color: rgba(0,0,0,0.3);
        text-transform: uppercase;
    }
    .block {
        padding: 0px;
        h2{
            font-size: 1em;
            color: rgba(0,0,0,0.9);
        }
    }
}



@media (max-width: 642px) {}
