@import "../myvariables";
.introSection {
    color: $brand-primary;
    text-align: center;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(white, 1);
    top: 0;
    left: 0;
    // transform: rotate(90 deg);
    .betaTag {
        position: absolute;
        background: $brand-primary;
        border-radius: 0 0 0 10px;
        color: white;
        padding: 5px 20px;
        top: 0;
        right: 0;
    }
    .intro-section.center {
        text-align: center;
        padding: 150px 10px;
        background: #fafafa;
        .col-sm-12 {
            text-align: center;
            margin: auto;
            max-width: 80%;
            float: none;
        }
        h1 {
            text-align: center;
            line-height: 1em;
            font-size: 4em;
        }
        h3 {
            text-align: center;
        }
    }
    .intro-section {
        text-align: center;
        padding: 130px 10px;
        img.first {
            content: url("/assets/intro/image1.svg");
        }
        img.second {
            content: url("/assets/intro/image2.svg");
        }
        img.third {
            content: url("/assets/intro/image3.svg");
        }
        h1 {
            line-height: 1em;
            text-align: left;
            font-weight: 300;
            color: black;
            color: #333;
            font-size: 2.8em;
            margin-bottom: 30px;
        }
        h3 {
            text-align: left;
            color: rgba(51,51,51,0.9);
            font-weight: 300;
            font-size: 1.4em;
            line-height: 1.4em;
        }
        img {
            display: inline-block;
            margin: auto;
            width: 80%;
            max-width: 300px;
        }
    }
    .intro-section.overhidden {
        overflow: hidden;
        padding-top: 100px;
        max-height: 600px;
    }
    .firstHero {
        position: relative;
        height: 100vh;
        padding-top: 27vh;
        background-color: #ff3a33;
        background-image: url("http://www.transparenttextures.com/patterns/black-thread.png");
        .scrolldownIcon {
            position: absolute;
            bottom: 100px;
            right: 45%;
            opacity: 0.8;
        }
        svg {
            width: 150px;
            margin-bottom: 10px;
        }
        h1 {
            color: white;
            opacity: 0.9;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
        .knowmore {
            opacity: 0.8;
            color: white;
            position: absolute;
            bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            i {
                opacity: 1;
                transform: rotate(90deg);
            }
        }
        .btn-login-reverse {
            transform: scale(1.1);
            background: darken(#ff1f1f, 10%);
            color: white;
            border: none;
            transition: 0.3s background ease-in-out, 0.5s border-color ease-in-out;
            margin: 5px;
        }
        .btn-login-reverse:hover {
            background: white;
            color: $brand-primary;
            transition: 0.2s background ease-in-out, 0.2s border-color ease-in-out;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        }
        .btn-login-reverse:active {
            background: white;
            color: $brand-primary;
            color: white;
            transition: 0.2s background ease-in-out, 0.2s border-color ease-in-out;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        }
    }
    .copyright {
        display: block;
        margin: 3px;
        color: rgba(0,0,0,0.4);
        font-size: 0.6em;
        font-weight: 700;
    }
    .login-hero {
        background-color: #ff3a33;
        background-image: url("http://www.transparenttextures.com/patterns/black-thread.png");
        // background-image: url("http://www.transparenttextures.com/patterns/black-thread-light.png");
        // background-image: url("http://www.transparenttextures.com/patterns/escheresque.png");
        padding: 100px;
        color: white;
        position: relative;
        .luxuryBox {
            background: white;
            height: 200px;
            width: 200px;
            position: absolute;
            top: -50px;
        }
        svg {
            width: 100px;
            fill: white;
        }
        .btn-login {
            background: white;
            color: $brand-primary;
            border: none;
            transition: 0.3s background ease-in-out, 0.5s border-color ease-in-out;
            margin: 5px;
        }
        .btn-login:hover {
            transform: scale(1.1);
            background: darken(#ff1f1f, 10%);
            color: white;
            transition: 0.2s background ease-in-out, 0.2s border-color ease-in-out;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        }
        .btn-login:active {
            transform: scale(1.06);
            background: darken(#ff1f1f, 20%);
            color: white;
            transition: 0.2s background ease-in-out, 0.2s border-color ease-in-out;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        }
        #a0-lock.a0-theme-default .a0-panel .a0-header {
            margin-top: 100px;
        }
    }
    .authorHero {
        text-align: center !important;
        color: black;
        padding: 150px 10px;
        background: #fafafa;
        h1 {
            line-height: 1em;
            font-weight: 300;
            color: black;
            color: #333;
            font-size: 2.8em;
            margin-bottom: 30px;
        }
        h3 {
            color: rgba(51,51,51,1);
            font-weight: 300;
            font-size: 1.4em;
            line-height: 1.4em;
        }
        h3.name {
            font-weight: 600;
        }
        span.work {
            color: rgba(51,51,51,0.8);
            font-weight: 300;
            font-size: 1.2em;
            line-height: 1em;
        }
        .authorContainer {
            margin-bottom: 20px;
            img.authorImage {
                // border: 3px solid white;
                max-height: 150px;
                margin-bottom: 15px;
                margin-top: 10px;
            }
            i {
                margin-top: 10px !important;
                color: black;
                font-size: 1.6em;
                margin-left: 2px !important;
                margin-right: 2px !important;
                opacity: 0.5;
                display: inline-block;
            }
            i:hover {
                opacity: 0.9;
                transform: scale(1.05);
            }
        }
        .authorContainer:hover {
            img.authorImage {
                transform: scale(1.1);
                transition: 0.1s all ease-in-out;
                box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.3);
            }
            h3.name {
                color: $brand-primary;
            }
        }
    }
}
@media (max-width: 642px) {
    .introSection {
        .firstHero {
            h1 {
                font-size: 1.3em;
                margin-bottom: 15%;
            }
            svg {
                width: 130px;
                margin-bottom: 10px;
            }
        }
        .intro-section {
            padding-top: 30px;
            padding-bottom: 30px;
            h1 {
                font-size: 2em;
                line-height: 1.3em;
                font-weight: 600;
                margin-bottom: 10px;
            }
            img {
                max-width: 200px;
            }
        }
        .authorHero {
            padding: 150px 20px 100px !important;
        }
    }
}
