@import "../myvariables";
.introSection {
    color: $brand-primary;
    text-align: center;
    padding-top: 50px;
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow-y: scroll;
    background: rgba(white, 1);
    overflow-y: scroll;
    top: 0;
    left: 0;
    .firstHero {
        height: 100vh;
        padding-top: 200px;

        svg{
            width: 150px;
        }
        h1 {
            color: rgba(0,0,0,0.7);
            font-size: 1.5rem;
            font-weight: 900;
        }
    }
    .login-hero {
        background: rgba($brand-primary, 1);
        padding: 100px;
        svg {
            width: 100px;
            fill: white;
        }
        .btn-login {
            background: #ff1f1f;
            border-color: #ff1515;
            transition: 0.3s background ease-in-out, 0.5s border-color ease-in-out;
            margin: 5px;
        }
        .btn-login:hover {
            background: white;
            color: $brand-primary;
            border-color: white;
            transition: 0.2s background ease-in-out, 0.2s border-color ease-in-out;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
        }
        .btn-logout {
            opacity: 0.8;
            background: white;
            border: white;
            color: $brand-primary;
            transition: 0.2s background ease-in-out;
        }
        .btn-logout:hover {
            opacity: 1;
            background: #ff1f1f;
            border-color: #ff1515;
            color: rgba(white, 1);
            transition: 0.3s background ease-in-out;
        }
        #a0-lock.a0-theme-default .a0-panel .a0-header {
            margin-top: 100px;
        }
    }
}
@media (max-width: 642px) {}
