@import "../myvariables";
.navbar-brand {
    float: right;
}
.navbar-logo svg {
    margin-bottom: -7px;
    width: 60px;
    height: auto;
}
.navbar-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    // fill: #eee;
    fill: $brand-primary;
    transition: 1s all ease-in-out;
}
.navbar-logo:hover {
    transition: 1s all ease-in-out;
    fill: rgba(255, 82, 82, 1);
}
.navbar {
    box-shadow: 0 1px 0 0 #ddd;
    padding-left: 0.8em;
    z-index: 99;
    background: white;
}
.left-section-toggle {
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ddd;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 50px;
    background: white;
    transition: 0.2s all ease-in-out;
    font-size: 1.3em;
}
.left-section-toggle:hover {
    color: $brand-primary;
    transition: 1s background ease-in-out;
}
.left-section-toggle:active {
    background: rgba($brand-primary, 0.3);
    transition: 0.1s background ease-in-out;
}
.navbar-button {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    color: #ddd;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid;
    transition: 0.1s all ease-in-out;
    font-size: 1.3em;
}
.navbar-button-o {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ddd;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid white;
    // transition: 0.1s all ease-in-out;
    font-size: 1.3em;
}
.navbar-button-o.left{
    float: left;
}
.navbar-button-o.right{
    float: right;
}
.navbar-button-o:hover {
    color: $brand-primary;
}
.navbar-button {
    background: $brand-primary;
    color: white;
    border: 1px solid $brand-primary;
    transition: 0.2s background ease-in-out;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.4);
}
.navbar-button:active {
    background: darken($brand-primary, 10%);
}
.logoutBtn {
    float: right;
}
.profileBtn {
    height: 33px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 2px;
    position: relative;
    float: right;
    margin-right: 30px;
    width: 33px;
    background-size: 34px;
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.4);
    i {
        position: relative;
        right: -20px;
    }
}
.prifileDropdown {
    padding: 0;
    border: 1px solid #ddd;
    position: absolute;
    right: -1px;
    top: 54px;
    width: 250px;
    background: white;
    // box-shadow: 0 1px 2px -1px rgba(0,0,0,.5);
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        -webkit-user-select: none;
        li {
            box-shadow: 0 1px 0 0 #ddd;
            padding: 10px 15px;
            text-align: left;
            cursor: pointer;
            i {
                opacity: 0.1;
                font-size: 0;
                transition: 0.2 all ease-in-out;
            }
        }
        li:hover {
            background: #eee;
            i {
                opacity: 1;
                font-size: 1.2em;
                transition: 0.2 all ease-in-out;
            }
        }
        li.info {
            background: white;
            // background: $brand-primary;
            font-size: 0.9em;
            color: rgba(0,0,0,0.5);
            // color: rgba(255,255,255,0.7);
            cursor: crosshair;
            b {
                font-size: 1.1em;
                // color: rgba(255,255,255,1);
                color: rgba(0,0,0,1);
            }
        }
    }
}
// .profile:hover{
//     background-color: white;
// }
// .disabled.graydout {
//     cursor: default;
//     text-align: center;
// }
// .avatar {
//     /* make it responsive */
//     width: 50px;
//     height: 50px;
//     display: block;
//     /* div height to be the same as width*/
//     /* make it a cirkle */
//     border-radius: 50%;
//     box-shadow: 0 0 0 1px rgba(0,0,0,.14);
//     // border: 1px solid rgba(0,0,0,.15);
//     /* Centering on image`s center*/
//     background-position-y: center;
//     background-position-x: center;
//     background-repeat: no-repeat;
//     /* it makes the clue thing, takes smaller dimention to fill div */
//     background-size: cover;
//     /* it is optional, for making this div centered in parent*/
//     margin: 10px auto;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }
// .dropdown-item {
//     outline: none;
// }
@media (max-width: 642px) {
    .navbar {
        font-size: 0.8;
        padding: 5px 0 5px 5px;
        .navbar-logo svg {
            width: 50px;
            opacity: 1;
        }
    }
    .prifileDropdown {
        top: 300%;
        // bottom: 0px;
        width: 100%;
        box-shadow: 0 5px 5px 1000px rgba(255,255,255,1);
        ul {
            li {
                text-align: center;
                font-size: 1.2em;
                font-weight: 600;
                padding: 20px 15px;
                i {
                    opacity: 1;
                    font-size: 1.2em;
                }
            }
            li.info {
                font-size: 1.2em;
            }
            .mobileShow {
                display: inherit;
            }
            li.cancel {
                background: #eee;
            }
            li.cancel:hover {
                background: #ddd;
            }
        }
    }
}
